header {
	position: relative;
	width: 100%;
	background-color: $highlight-section-bg;
	text-align: center;
	box-shadow: 0 0 3px;
	display: flex;
	margin-bottom: 1.5rem;
	font-size: 0;
}

.banner {
	z-index: 10;
	max-height: 300px;
	width: 100%;
	flex: 1 1 0;
	pointer-events: none;
}

.home-link {
	width: 100%;
}

.header-nav {
	position: absolute;
	right: 0.8em;
	top: 0.8em;
	font-weight: 500;
	font-size: 18px;

	a {
		color: #DDD;
		text-decoration: none;
		transition: color 0.2s ease-in-out;

		& + a {
			margin-left: 1em;
		}
		&:hover, &:focus {
			color: white;
		}
	}
}


@include phone {
	.header-nav {
		display: flex;
		justify-content: space-around;
		top: 100%;
		left: 0;
		right: 0;
		line-height: 3rem;
		background-color: #616161;
		text-transform: uppercase;
		font-weight: 700;
		box-shadow: 0 3px 3px -3px;
	}

	.header-nav .container {
		text-align: left;
	}

	header {
		margin-bottom: 4rem;
	}
}
