<!-- <a id="anmeldung" class="anchor"></a> -->
<h1>Anmeldung</h1>
<p>Dein kostenloses Ticket kannst du dir via Eventbrite sichern.</p>

<p><strong>Wichtig!</strong> Solltest du am DevFest doch nicht teilnehmen können, gib bitte dein Ticket bei <a href="http://www.eventbrite.de/mytickets/" target="_blank">Eventbrite</a> wieder frei und mache jemand anderem die Freude, sich einen der limitierten Plätze sichern zu können. Herzlichen Dank!</p>

<!-- <div class="biglink">
	<a href="https://devfest2014.eventbrite.de/"><i class="icon-ticket"></i> Zur Anmeldung</a>
</div> -->

<gdg-loading ng-show="loading"></gdg-loading>

<iframe ng-show="!loading" iframe-onload="onIframeLoaded()" src="//eventbrite.de/tickets-external?eid=13176446105&ref=etckt" frameborder="0" height="300" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true" class="eventbrite"></iframe>