<div class="info-container">
	<div class="quickinfo">
		<span title="Wann?"><i class="icon-calendar" aria-label="Wann?"></i> <%= date(event.date, 'dd. mmmm yyyy') %></span>

		<% if (event.fee) { %>
			<span title="Eintrittspreis"><i class="icon-euro" aria-label="Eintrittspreis"></i> <%= event.fee %></span>
		<% } %>

		<% if (event.twitter.hash) { %>
			<span>
				<i class="icon-twitter"></i>
				<a href="https://twitter.com/search?q=%23<%= event.twitter.hash %>&src=typd&f=realtime" target="_blank" title="Unser Hashtag für Twitter">#<%= event.twitter.hash %></a>
			</span>
		<% } %>

		<% if (event.gplus && event.gplus.id) { %>
		<span>
			<i class="icon-gplus"></i>
			<a href="https://plus.google.com/<%= event.gplus.id %>">
				GDG auf Google+
			</a>
		</span>
		<% } %>
	</div>
		<div class="info">
			<div class="info-description">
				<%= text(event.description) %>

				<% if(callforpapers.enabled) { %>
				<p class="info-links">
					<a href="<%= callforpapers.url %>" class="boxlink" target="_blank">Vortrag einreichen</a>
				</p>
				<% } %>
			</div>

			<% if (partners && partners.length > 0) { %>
			<div class="partners">
				<% _.forEach(partners, function(partner) { %>
				<a href="<%= partner.url %>" target="_blank" title="<%= partner.name %>">
					<img src="<%= partner.logo %>">
				</a>
				<% }); %>
			</div>
			<% } %>
	</div>
</div>

<% if (tickets && tickets.eventbrite && tickets.eventbrite.id) { %>
<div class="tickets">
	<div class="container">
		<h2 class="tickets-header">Anmeldung</h2>
		<div class="ticket">
			<h1 class="ticket-title">
				Dein <img src="assets/devfest-text.svg" alt="DevFest" height="28px">-Ticket
			</h1>

			<p>Registriere dir jetzt dein <strong>kostenloses</strong> Ticket für das DevFest <%= event.year %>.</p>
			<p>Solltest du am DevFest doch nicht teilnehmen können, gib bitte dein Ticket bei Eventbrite wieder frei und mache jemand anderem die Freude, sich einen der limitierten Plätze sichern zu können. Herzlichen Dank!</p>

			<form action="http://www.eventbrite.de/orderstart?ebtv=C" method="POST">
				<input type="hidden" name="eid" value="<%= tickets.eventbrite.id %>">
				<input type="hidden" name="has_javascript" value="1">

				<div class="ticket-footer">
					<a href="<%= tickets.eventbrite.url %>" type="submit" class="ticket-button">
						Anmelden
					</a>
				</div>
			</form>
		</div>
	</div>
</div>
<% } %>

<div class="location-container" ng-class="{'info-minimized': infoMinimized }" ng-controller="MapController">
	<div class="location-info">
		<div class="location-info-content">
			<h1 class="location-info-title">Location</h1>
			<p><%= event.location.name %></p>
			<p><%= event.location.address %></p>
			<a class="location-get-direction" href="https://maps.google.com?daddr=<%= event.location.address %>" target="_blank">Navigation</a>
		</div>
	</div>
	<button type="button" class="location-minimized" aria-label="Adresse anzeigen" ng-click="showInfo()">
		<i class="icon-location"></i>
	</button>
	<ui-gmap-google-map center="mapCenter" zoom="14" options="mapOptions" ng-click="activateMap($event)" pan="true">
		<ui-gmap-marker idKey="1" coords="eventLocation"></ui-gmap-marker>
	</ui-gmap-google-map>
</div>

<div class="sponsors" ng-controller="SponsorController as sponsorCtrl">
	<a id="sponsoren" class="anchor"></a>

	<div ng-repeat="sponsorgroup in sponsorCtrl.sponsors">
			<h2>{{::sponsorgroup.group}}</h2>
			<div class="sponsor-group">
				<a ng-repeat="sponsor in sponsorgroup.sponsors" ng-href="{{::sponsor.url}}" class="sponsor" title="{{::sponsor.name}}" target="_blank" rel="noopener">
					<img ng-src="{{::sponsor.logo}}">
				</a>
			</div>
	</div>

	<% if (event.sponsorinformation) { %>
		<a class="boxlink sponsor-information" href="<%= event.sponsorinformation %>" target="_blank">Werden Sie Sponsor!</a>
	<% } %>

</div>
