<h1 id="programm">Programm</h1>
<p>Sobald wir alle Einreichungen gesichtet haben und das aktuelle Programm steht, wird es hier angezeigt und zum Download zur Verfügung gestellt.</p>

<section id="schedule">
	<div class="timeslot small" itemtype="http://schema.org/subEvent">
		<div class="timeslot-label">
			<time itemprop="startDate" datetime="2014-10-25T08:30">08:30</time>
			<item itemprop="endDate" datetime="2014-10-25T09:30">09:30</item>
		</div>
		<div class="timeslot-items">
			<div class="timeslot-item spanning">
				<h1>Anmeldung</h1>
			</div>
		</div>
	</div>
	<div class="timeslot small" itemtype="http://schema.org/subEvent">
		<div class="timeslot-label">
			<time itemprop="startDate" datetime="2014-10-25T09:15">09:15</time>
			<item itemprop="endDate" datetime="2014-10-25T09:30">09:30</item>
		</div>
		<div class="timeslot-items">
			<div class="timeslot-item spanning">
				<h1>Begrüßung</h1>
			</div>
		</div>
	</div>
	<div class="timeslot small" itemtype="http://schema.org/subEvent">
		<div class="timeslot-label">
			<time itemprop="startDate" datetime="2014-10-25T09:30">09:30</time>
			<item itemprop="endDate" datetime="2014-10-25T10:15">10:15</item>
		</div>
		<div class="timeslot-items">
			<div class="timeslot-item spanning">
				<h1>Why do we need more Nerds?</h1>
				<span class="speaker">Dominik Helleberg</span>
			</div>
		</div>
	</div>

	<div class="timeslot" itemtype="http://schema.org/subEvent">
		<div class="timeslot-label">
			<time itemprop="startDate" datetime="2014-10-25T13:15">13:15</time>
			<item itemprop="endDate" datetime="2014-10-25T14:00">14:00</item>
		</div>
		<div class="timeslot-items">
			<div class="timeslot-item">
				<h1>Clean Unit Test Patterns</h1>
				<span class="speaker">Frank Appel</span>
			</div>
			<div class="timeslot-item">
				<h1>Mobile Cross-Platform Game Development</h1>
				<span class="speaker">Tim Reiter, Daniel Reichert, Alisa Jung</span>
			</div>
			<div class="timeslot-item">
				<h1>How we use Appengine @ CrowdAppz</h1>
				<span class="speaker">CrowdAppz</span>
			</div>
		</div>
	</div>
</section>
<!-- 
<table class="schedule">
	<tr>
		<th class="time"></th>
		<th class="track track1">Track 1 (Audimax)</th>
		<th class="track track2">Track 2 (A266)</th>
		<th class="track track3">Track 3 (A268)</th>
	</tr>
	<tr class="break">
		<th class="time">8:30<br>9:30</th>
		<td>Anmeldung</td>
		<td>Anmeldung</td>
		<td>Anmeldung</td>
	</tr>
	<tr>
		<th class="time">9:15<br>9:30</th>
		<td>
			Begrüßung
			<span class="speaker">GDG Karlsruhe</span>
		</td>
		<td class="empty"></td>
		<td class="empty"></td>
	</tr>
	<tr>
		<th class="time">9:39<br>10:15</th>
		<td>
			Keynote
			<span class="speaker">Dominik Helleberg</span>
		</td>
		<td class="empty"></td>
		<td class="empty"></td>
	</tr>
	<tr class="break">
		<th class="time">10:15<br>10:45</th>
		<td>Kaffeepause</td>
		<td>Kaffeepause</td>
		<td>Kaffeepause</td>
	</tr>
	<tr>
		<th class="time">10:45<br>11:30</th>
		<td>Automatische Testfallgenerierung oder "Wie die Evolution den Affen zum Tester macht"</td>
		<td>Something else</td>
		<td>
			Test
			<span class="speaker">Dominik Helleberg</span>
		</td>
	</tr>
	<tr>
		<th class="time">11:30<br>12:15</th>
		<td>Automatische Testfallgenerierung oder "Wie die Evolution den Affen zum Tester macht"</td>
		<td>Something else</td>
		<td>
			Test
			<span class="speaker">Dominik Helleberg</span>
		</td>
	</tr>
	<tr class="break">
		<th class="time">12:15<br>13:15</th>
		<td>Mittagspause</td>
		<td>Mittagspause</td>
		<td>Mittagspause</td>
	</tr>
	<tr>
		<th class="time">13:15<br>-<br>14:00</th>
		<td>Automatische Testfallgenerierung oder "Wie die Evolution den Affen zum Tester macht"</td>
		<td>Something else</td>
		<td>
			Test
			<span class="speaker">Dominik Helleberg</span>
		</td>
	</tr>
	<tr>
		<th class="time">14:00<br>14:45</th>
		<td>Automatische Testfallgenerierung oder "Wie die Evolution den Affen zum Tester macht"</td>
		<td>Something else</td>
		<td>
			Test
			<span class="speaker">Dominik Helleberg</span>
		</td>
	</tr>
	<tr class="break">
		<th class="time">14:45<br>15:30</th>
		<td>Kaffeepause</td>
		<td>Kaffeepause</td>
		<td>Kaffeepause</td>
	</tr>
	<tr>
		<th class="time">15:30<br>16:15</th>
		<td>Automatische Testfallgenerierung oder "Wie die Evolution den Affen zum Tester macht"</td>
		<td>Something else</td>
		<td>
			Test
			<span class="speaker">Dominik Helleberg</span>
		</td>
	</tr>
	<tr>
		<th class="time">16:15<br>17:00</th>
		<td>Automatische Testfallgenerierung oder "Wie die Evolution den Affen zum Tester macht"</td>
		<td>Something else</td>
		<td>
			Test
			<span class="speaker">Dominik Helleberg</span>
		</td>
	</tr>
	<tr class="break">
		<th class="time">17:00<br>19:00</th>
		<td>DevFest After Party</td>
		<td>DevFest After Party</td>
		<td>DevFest After Party</td>
	</tr>
</table> -->

<a id="cfp" class="anchor"></a>
<h2>Call for Papers</h2>

<p>Du befasst dich mit Google-Technologien oder moderner Webentwicklung? Oder kennst du die neuesten Gimmicks und Must-Haves für (Web)Entwickler? Vielleicht hast du auch andere Themen, die für Developer interessant sind und die du im Rahmen eines Vortrags oder eines Workshops gerne auf dem DevFest vorstellen würdest?</p>

<p>Dann nutze den Call for Papers und bewirb dich! Wir freuen uns über jede Einreichung!</p>

<center>
	<a class="boxlink" href="https://docs.google.com/forms/d/1NhVu4YUJbnZDoaffHSlf2YFQfhpqy7zClFUvi6ZCkRc/viewform">
		<i class="icon-newspaper"></i> Vortrag einreichen
	</a>
</center>