<h1 id="programm">Programm</h1>
<p>Das Programm steht! Da sich kurzfristig Änderungen ergeben können, empfehlen wir, regelmäßig vorbei zu schauen.</p>

<h2 class="date">25. Oktober 2014</h2>
<gdg-schedule schedule="schedule"></gdg-schedule>

<!-- <h2>Kurzvorträge</h2>

<p>Du hast ein interessantes Projekt, das du anderen vorstellen möchtest, oder eine spannende Idee, für die du das Publikum begeistern willst? Um möglichst vielen Interessierten die Möglichkeit zu geben, solche Themen auf dem DevFest vorzustellen, bieten wir in diesem Jahr Kurzvorträge an. Jedem Vortragenden stehen 15 Minuten zur Verfügung. Die genauen Rahmenbedingungen findest
du im Anmeldeformular. Meld dich jetzt für einen der freien Plätze an! Sobald wir alle Einreichungen gesichtet haben, wird die Liste mit den Kurzvorträgen im Programm veröffentlicht.</p>

<center>
	<a class="boxlink" href="https://docs.google.com/forms/d/1rppWFZgOK5zzn26598AN-3IyWDtVmOSTNW8MndyJhaA/viewform">
		<i class="icon-newspaper"></i> Kurzvortrag einreichen
	</a>
</center>
 -->
<!-- 
<a id="cfp" class="anchor"></a>
<h2>Call for Papers</h2>

<p>Du befasst dich mit Google-Technologien oder moderner Webentwicklung? Oder kennst du die neuesten Gimmicks und Must-Haves für (Web)Entwickler? Vielleicht hast du auch andere Themen, die für Developer interessant sind und die du im Rahmen eines Vortrags oder eines Workshops gerne auf dem DevFest vorstellen würdest?</p>

<p>Dann nutze den Call for Papers und bewirb dich! Wir freuen uns über jede Einreichung!</p>

<center>
	<a class="boxlink" href="https://docs.google.com/forms/d/1NhVu4YUJbnZDoaffHSlf2YFQfhpqy7zClFUvi6ZCkRc/viewform">
		<i class="icon-newspaper"></i> Vortrag einreichen
	</a>
</center> -->