<h1 id="programm">Programm</h1>
<p>Sobald wir alle Einreichungen gesichtet haben und das aktuelle Programm steht, wird es hier angezeigt und zum Download zur Verfügung gestellt.</p>

<a id="cfp" class="anchor"></a>
<h2>Call for Papers</h2>

<p>Du befasst dich mit Google-Technologien oder moderner Webentwicklung? Oder kennst du die neuesten Gimmicks und Must-Haves für (Web)Entwickler? Vielleicht hast du auch andere Themen, die für Developer interessant sind und die du im Rahmen eines Vortrags oder eines Workshops gerne auf dem DevFest vorstellen würdest?</p>

<p>Dann nutze den Call for Papers und bewirb dich! Wir freuen uns über jede Einreichung!</p>

<center>
	<a class="boxlink" href="https://docs.google.com/forms/d/1NhVu4YUJbnZDoaffHSlf2YFQfhpqy7zClFUvi6ZCkRc/viewform">
		<i class="icon-newspaper"></i> Vortrag einreichen
	</a>
</center>