<div class="schedule">
	<h1>Programm</h1>

	<%= text(schedule.before[schedule.show]) %>

	<% if (callforpapers.enabled) { %>
	<a class="boxlink" href="<%= callforpapers.url %>">
		Vortrag einreichen
	</a>
	<% } %>

	<%
		var sched = schedule.show == 'current' ? schedule_current : schedule_previous;
		_.forEach(sched, function(day) {
	%>

		<%
			var tracks = 1;
			_.forEach(day.slots, function(slot) {
				tracks = Math.max(tracks, slot.sessions.length);
			});
		%>

		<% if (schedule.show == 'current') { %>
			<h2 class="date"><%= date(day.date) %></h2>
		<% } else { %>
			<h2>Programm von <%= --event.year %></h2>
		<% } %>

		<section class="schedule-day tracks-<%= tracks %>">
			<% _.forEach(day.slots, function(slot) { %>
			<div class="timeslot" itemtype="http://schema.org/subEvent" time-anchor="<%= date(day.date, 'yyyy-mm-dd') + 'T' + slot.from %>">
				<div class="timeslot-label">
					<time itemprop="startDate" datetime="<%= slot.from %>"><%= slot.from %></time>
					<time itemprop="endDate" datetime="<%= slot.to %>"><%= slot.to %></time>
				</div>
				<div class="timeslot-items">
					<% _.forEach(slot.sessions, function(sess, key) { %>
					<div class="timeslot-item <% if(!sess.title) { %>empty<% } %> <% if (slot.sessions.length === 1) { %>single<% } %>"
							ng-click="showDetails('<%= idfor(sess.title) %>')">
						<% if (sess.title) { %>
						<div class="timeslot-item__content">
							<% if(sess.title && sess.room) { %>
								<div class="colorstrip color<%= key %>"></div>
							<% } %>
							<h1>
								<% if (sess.video) { %><i class="timeslot-item__video icon-video"></i><% } %>
								<%= sess.title %> <span class="timeslot-item__lang"><%= sess.lang %></span>
							</h1>
							<% if(sess.speaker) { %>
								<span class="speaker"><%= join(sess.speaker, ', ') %></span>
							<% } %>
							<div class="room"><%= sess.room %></div>
						</div>
						<% } %>
					</div>
					<% }); %>
					<% for (var i = 0; i < tracks - slot.sessions.length; i++) { %>
					<div class="timeslot-item empty"></div>
					<% } %>
				</div>
			</div>
			<% }); %>
		</section>

	<% }); %>

	<% _.forEach(schedule.after, function(paragraph) { %>
		<h2><%= paragraph.title %></h2>
		<%= text(paragraph.text) %>
	<% }); %>
</div>

<scroll-to-now ng-if="showScrollToNow"></scroll-to-now>
