<section id="schedule">
	<div class="timeslot" itemtype="http://schema.org/subEvent" ng-repeat="slot in schedule.slots">
		<div class="timeslot-label">
			<time itemprop="startDate" datetime="{{ slot.from }}">{{ slot.from }}</time>
			<time itemprop="endDate" datetime="{{ slot.to }}">{{ slot.to }}</time>
		</div>
		<gdg-slot session="slot.sessions[0]" class="spanning" ng-if="slot.sessions.length === 1"></gdg-slot>
		<div class="timeslot-items" ng-if="slot.sessions.length > 1">
			<gdg-slot session="session" ng-repeat="session in slot.sessions"></gdg-slot>
		</div>
	</div>
</section>