
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-euro:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-gplus:before { content: '\e803'; } /* '' */
.icon-ticket:before { content: '\e804'; } /* '' */
.icon-users:before { content: '\e805'; } /* '' */
.icon-link-ext:before { content: '\e806'; } /* '' */
.icon-location:before { content: '\e807'; } /* '' */
.icon-angle-double-down:before { content: '\e808'; } /* '' */
.icon-doc:before { content: '\e809'; } /* '' */
.icon-video:before { content: '\e80a'; } /* '' */