
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-euro:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-location:before { content: '\e803'; } /* '' */
.icon-gplus-squared:before { content: '\e804'; } /* '' */
.icon-ticket:before { content: '\e805'; } /* '' */
.icon-file-pdf:before { content: '\e806'; } /* '' */
.icon-newspaper:before { content: '\e807'; } /* '' */